@using DC.Web.Ui.Services.Models
@model DC.Web.Ui.ViewModels.IlrFileViewModel

@{
    ViewData["Title"] = "Confirmation";
    var correlationId = ViewData["CorrelationId"];
}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="govuk-box-highlight">
            <h1 class="heading-large">
                ILR data submitted
            </h1>

            <p class="font-medium" id="progress-update">
                Your ILR submission for Return period 1

                (R01)
                is being processed. This should take around 15 minutes.
            </p>
        </div>

        <h3 class="heading-medium">
            Upload details
        </h3>
        <table class="table-font-xsmall">
            <tbody>
                <tr>
                    <td><span class="bold">File name</span></td>
                    <td id="file-name" >@Html.DisplayFor(model => model.Filename)</td>
                </tr>
                <tr>
                    <td><span class="bold">Submission reference</span></td>
                    <td id="file-correlationId" >@Html.DisplayFor(model => model.CorrelationId)</td>
                </tr>
                <tr>
                    <td><span class="bold">File size</span></td>
                    <td id="file-size">@Html.DisplayFor(model => model.FileSize) KB</td>
                </tr>
                <tr>
                    <td><span class="bold">Date and time</span></td>
                    <td id="file-submissiondate" >@Html.DisplayFor(model => model.SubmissionDateTime)</td>
                </tr>
            </tbody>
        </table>
        <p>
            @Html.ActionLink("Click here to see detailed status", "Index", "AppLogs", new { id="detailed-link", correlationId = Model.CorrelationId })
        </p>
        <h2 class="heading-medium">What happens next?</h2>
        <p>You will receive an email notification once your file has been processed.</p>

        <p>If any warnings or errors are found in the data you submitted they will be listed in a report file which can be downloaded once your submission has been processed.</p>

        <p><a class="button" href="/IlrSubmission" role="button" id="upload-complete-button">Finished</a></p>
    </div>
</div>


