@using ESFA.DC.Web.Ui.ViewModels.HelpDesk
@model ESFA.DC.Web.Ui.ViewModels.HelpDesk.ProviderSearchResultViewModel

@if (Model != null)
{
    <h1 class="govuk-heading-xl">
        <label for="provider-search">
            Search
            results for <span class="govuk-visually-hidden">@Model.SearchTerm</span>
        </label>
    </h1>
    <div class="govuk-form-group">
        <form asp-controller="ProviderSearch" asp-action="GetResults" method="post" id="form">
            <input class="govuk-input govuk-!-width-two-thirds" id="searchTerm" name="searchTerm" type="search" value="@Model.SearchTerm" aria-describedby="provider-search">
            <button class="govuk-button" type="submit">
                Search
            </button>
        </form>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p>@Model.ProvidersList.Count() results found.</p>

        @foreach (var provider in Model.ProvidersList)
        {
            <h3 class="govuk-heading-m">
                @Html.ActionLink(provider.Name, "Index", "ProviderDetails", new { ukprn = provider.Ukprn})
            </h3>
            <ul class="govuk-list">
                <li><span class="govuk-!-font-weight-bold">UKPRN:</span> @provider.Ukprn</li>
                @if (!string.IsNullOrEmpty(provider.LastSubmittedBy))
                {
                    <li><span class="govuk-!-font-weight-bold">Last submission by:</span> @provider.LastSubmittedBy (@(provider.LastSubmittedByEmail)) on @provider.LastSubmittedDate</li>
                }
            </ul>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        }
    </div>
}