@using ESFA.DC.JobStatus.Interface
@model IEnumerable<ESFA.DC.Web.Ui.ViewModels.SubmissonHistoryViewModel>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2 class="govuk-heading-l">Submission history</h2>
<p>Each time you submit a new file your reports will be updated. To view your latest reports you should download the reports for your most recent submission.</p>
<table class="govuk-table">
    <caption class="govuk-table__caption govuk-visually-hidden">Dates and file name</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Date</th>
        <th class="govuk-table__header" scope="col">File</th>
        <th class="govuk-table__header" scope="col">Submitted by</th>
        <th class="govuk-table__header" scope="col">Reports</th>
    
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    @foreach (var historyViewModel in Model)
    {
        <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row">@historyViewModel.DateTimeSubmitted</td>
            <td class="govuk-table__cell">
                @Html.ActionLink(@historyViewModel.FileName, "DownloadFile", "SubmissionResultsAuthorised",new {JobId =  @historyViewModel.JobId})
            </td>
            <td class="govuk-table__cell" scope="row">@historyViewModel.SubmittedBy</td>

            <td class="govuk-table__cell">
                @if (historyViewModel.Status == JobStatusType.Completed)
                {
                    @Html.ActionLink(@historyViewModel.ReportsFileName, "DownloadReport", "SubmissionResultsAuthorised", new { JobId = @historyViewModel.JobId })
                }
                else if (historyViewModel.Status == JobStatusType.Failed || historyViewModel.Status == JobStatusType.FailedRetry)
                {
                    @Html.Raw("Failed")
                }
                else
                {
                    @Html.Raw("Processing")
                }
            </td>
    
        </tr>
    }
   
    </tbody>
</table>