@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using DC.Web.Ui.Constants
@using DC.Web.Ui.Extensions
@using DC.Web.Ui.Services.Extensions
@using ESFA.DC.Jobs.Model.Enums
@using Microsoft.ApplicationInsights.AspNetCore
@using Microsoft.AspNetCore.Mvc.Rendering

@model ESFA.DC.Web.Ui.ViewModels.ProviderHistoryViewModel
@{
    ViewData["Title"] = "Reports";
    var isReportsSectionSelected = ViewData.ContainsKey(ViewDataConstants.IsReportsSectionSelected);
    var searchTerm = ViewContext.RouteData?.Values?["searchTerm"];
    
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    @Html.Partial("~/Views/Shared/_Head.cshtml")
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="govuk-template__body ">

    @Html.Partial("~/Views/Shared/_Header.cshtml")


    <div class="govuk-width-container">

        @Html.Partial("~/Views/Shared/_Banner.cshtml")


        @if (User.IsHelpDeskUser())
        {
            @Html.Partial("_providerSearchBox", searchTerm)
        }

        <main class="govuk-main-wrapper" id="content" role="main">

            @if (User.IsHelpDeskUser())
            {
                long.TryParse(ViewContext.RouteData.Values["ukprn"].ToString(), out var ukprn);
                @await Component.InvokeAsync("ProviderDetail", new { ukprn })
            }

            <div class="govuk-grid-row">

                @if (!User.IsHelpDeskUser())
                {
                    <h1 class="govuk-heading-xl">Reports</h1>
                    <h3 class="govuk-heading-s">ESFA support desk</h3>
                    <p>
                        For help and support call us on 0370 267 0001, Monday to Thursday, 8:30am-5pm,<br> or Fridays, 8.30am-4pm. Or email us at
                        <a href="sde.servicedesk@education.gov.uk">sde.servicedesk@education.gov.uk</a>
                    </p>
                    <p>For new submissions or to correct the data you've already submitted, <a href="/submission-options">submit another file</a>.</p>
                }

                @{ await Html.RenderPartialAsync("_providerHistory", Model);}

            </div>
        </main>
    </div>

    @Html.Partial("~/Views/Shared/_Footer.cshtml")

</body>
</html>


