@using DC.Web.Ui.Constants
@using ESFA.DC.Web.Ui.ViewModels
@model ESFA.DC.Web.Ui.ViewModels.ValidationResultViewModel

@{
    ViewData["Title"] = "ILR file not submitted";
    ViewData["BackUrl"] = $"/ilr/submission/{Model.CollectionName}";

}





<h1 class="govuk-heading-xl">
    ILR file not submitted
    <span class="govuk-caption-xl" collection="@Model.CollectionName"></span>
</h1>
<div class="govuk-inset-text">
    @if ((@Model.TotalErrors > 0 || @Model.TotalWarnings > 0) && @Model.TotalDataMatchErrors == 0)
    {
        <p>There are errors and warnings for the learner data in your file.</p>
    }
    @if ((@Model.TotalErrors > 0 || @Model.TotalWarnings > 0) && @Model.TotalDataMatchErrors > 0)
    {
        <p>There are errors, warnings and data match problems for the learner data in your file.</p>
    }
    @if (@Model.TotalErrors == 0 && @Model.TotalWarnings == 0 && @Model.TotalDataMatchErrors > 0)
    {
        <p>There are data match problems for the learner data in your file.</p>
    }
    @if (ViewData.ContainsKey(ViewDataConstants.NextReturnOpenDate))
    {
        <p>If you submit this file, we’ll process it when the next return period opens on @ViewData[ViewDataConstants.NextReturnOpenDate].</p>
    }
</div>

@if (@Model.TotalErrors > 0 || @Model.TotalWarnings > 0)
{
    <p id="error"><span class="govuk-!-font-weight-bold">Total learners in file</span>: @Model.TotalLearners</p>

    <p><span class="govuk-!-font-weight-bold">Total errors</span>: @Model.TotalErrors (affecting @Model.TotalErrorLearners learners)</p>

    <p><span class="govuk-!-font-weight-bold">Total warnings</span>: @Model.TotalWarnings (affecting @Model.TotalWarningLearners learners)</p>

    <p>
        @Html.ActionLink($"Download detailed report", "Download", "ValidationResultsAuthorised", new { reportType = "DetailedErrors" }) <span>(CSV,  @(Model.ReportFileSize)KB) showing all errors and warnings</span>
    </p>
}

@if (Model.TotalDataMatchErrors > 0)
{
    <h2 class="govuk-heading-m">Apprenticeships</h2>
    <p><span class="govuk-!-font-weight-bold">Total data match problems</span>: @Model.TotalDataMatchErrors (affecting @Model.TotalDataMatchLearners learners)</p>

    <p>
        @Html.ActionLink($"Download data match report", "Download", "ValidationResultsAuthorised", new { reportType = "DataMatch" }) <span>(CSV,  @(Model.DataMatchReportFileSize)KB) showing all errors and warnings</span>
    </p>
}

<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        @if (@Model.TotalDataMatchErrors > 0)
        {
            @Html.Raw("You’ll only be paid for learners that do not have errors or data match problems with their data.");
        }
        else
        {
            @Html.Raw("You’ll only be paid for learners that do not have errors in their data.");
        }
    </strong>
</div>
<form asp-controller="ValidationResultsAuthorised" asp-action="SubmitAnyway" method="post" id="valForm">

    <button class="govuk-button" type="submit">
        Submit anyway
    </button>
</form>

<p>
    @Html.ActionLink("Go back and upload an updated file", "SubmitAnother", "ValidationResultsAuthorised")

</p>
