@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using DC.Web.Ui.Constants
@using DC.Web.Ui.Extensions
@using DC.Web.Ui.Settings.Models


@{
    var isHelpSectionHidden = ViewData.ContainsKey(ViewDataConstants.IsHelpSectionHidden) && Convert.ToBoolean(ViewData[ViewDataConstants.IsHelpSectionHidden]);
}

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    @Html.Partial("_Head")
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="govuk-template__body ">
<style>
    .govuk-header__container {
        margin-bottom: 0;
        padding-top: 10px;
        border-bottom: 0;
    }

    .govuk-header {
        border-bottom: 0;
    }
</style>
    @Html.Partial("_Header")
 
    @RenderSection("FeedbackBanner", required: false)

<div class="govuk-width-container">
        
        @Html.Partial("_Banner")

        <main class="govuk-main-wrapper" id="content" role="main">
            <div class="govuk-grid-row">
                <!--<div class="govuk-grid-column-fullgovuk-grid-column-two-thirds"> -->
                <div class= @(isHelpSectionHidden? "govuk-grid-column-full" :"govuk-grid-column-two-thirds")>
                @Html.Partial("_ErrorSummary")

                @RenderBody()
            </div>
                @if (!isHelpSectionHidden)
                {
                    <div class="govuk-grid-column-one-third">
                        <aside class="app-related-items" role="complementary">
                            <h2 class="govuk-heading-m" id="subsection-title-help">
                                Help and support
                            </h2>
                            <p><span class="govuk-!-font-weight-bold">ESFA support desk</span></p>
                            <p>
                            Telephone: 0370 267 0001<br/>
                            Monday to Thursday, 8:30am to 5:00pm<br/>
                            Friday, 8:30am to 4:00pm<br/>
                            <p>Email: <a href="mailto:sde.servicedesk@education.gov.uk">sde.servicedesk@education.gov.uk</a></p>


                            @RenderSection("RelatedContent", required: false)

                        </aside>
                    </div>
                }
            </div>
        </main>
    </div>

    @Html.Partial("_Footer")
    
</body>
</html>


