@using DC.Web.Ui.Constants
@using DC.Web.Ui.Extensions
@using ESFA.DC.Web.Ui.ViewModels
@model IEnumerable<ESFA.DC.Web.Ui.ViewModels.SubmissionOptionViewModel>


@{
    ViewData["Title"] = "What do you want to submit?";
    ViewData["BackUrl"] = "/";
}

<form asp-controller="SubmissionOptions" asp-action="Submit" method="post" id="choiceform">
    <div class="@ViewContext.GetGroupItemStyle(ErrorMessageKeys.SubmissionOptions_OptionsFieldKey)">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                    What do you want to submit?
                </h1>
            </legend>
           
            <div error-field-name="@ErrorMessageKeys.SubmissionOptions_OptionsFieldKey"></div>

            <div class="govuk-radios">

                @foreach (var so in Model)
                {
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="@so.Name" name="submissionType" type="radio" value="@so.Name">
                        <label class="govuk-label govuk-radios__label" for="@so.Name">@so.Title</label>
                    </div>
                }


            </div>
        </fieldset>
    </div>
    <button class="govuk-button">
        Continue
    </button>

</form>

