@using DC.Web.Ui.Services.ViewModels
@model IEnumerable<DC.Web.Ui.Services.ViewModels.SubmissionOptionViewModel>


@{
    ViewData["Title"] = "SubmissionOptions";
}

<div class="column-two-thirds">

    <form asp-controller="SubmissionOptions" asp-action="Submit" method="post" id="choiceform">
      
        <div class="form-group">
            <fieldset>
                <h1 class="heading-large">Choose data you need to submit</h1>
                @if (ViewData["IsValid"] != null && Boolean.Parse(ViewData["IsValid"].ToString()) == false)
                {
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li>
                                    <a href="error">Please choose an option to submit</a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                    
                    <div id="error" class="govuk-error-message">
                        Please choose an option to submit
                    </div>
                }
                
               

                @foreach (var so in Model)
                {
                    <span asp-validation-for="@so.Name" class="text-danger"></span>
                    <div class="multiple-choice">

                        <input id="@so.Name" type="radio" name="submissionType" value="@so.Name">
                        <label for="@so.Name">@so.Title</label>
                    </div>
                }


            </fieldset>
        </div>

        <input type="submit" value="Start submitting data" class="button">
    </form>
</div>
